extends ../layout 

append scripts
  link(rel='stylesheet', href='/stylesheets/encounter.css')

append content
  h1 How we met
  p.
    Hannah and I met in the fall of 2007 (I was a Junior and she was a
    Sophomore). I had just started coming out to EBCB and was invited to a group
    “hang out” one night by a friend. Little to my knowledge, that “hang out” was
    actually an Evangelism Training (“ET”) class on how to share the gospel with
    others. In ET, sharing groups are formed from three classmates who are either
    first-time trainees or more experienced trainers. As I had never taken the
    class before, I was paired up with two younger sisters with experience who
    would be training me, one of whom was Hannah.

  p.
    As we shared the gospel together week after week, there were lots of
    opportunities for Hannah and me to get to know each other. I was surprised
    that we had so many things in common and although I didn’t realize it, I
    quickly opened up to Hannah and felt very comfortable around her.

  p.
    During and even after ET classes ended, I was able to spend a lot of time
    with Hannah. Since our apartments were really close, I visited her frequently
    to study or eat her food (her
    mom always packed her tons of homemade, frozen, Korean food). The winter of my
    junior year I also got into a pretty big snowboarding accident where I was
    incapacitated due to busting my knee – Hannah often came over to cheer me up
    with words of encouragement (and food).

  p.
    I definitely thought Hannah would make a great wife. I was constantly
    recommending her to my closest friend and college roommate, Justin (see
    groomsman bios) and telling him that if they got married we could all be
    great friends. At a certain point, Justin started insisting that if I knew
    how great she was, I should date her myself. I wrote it off. But he was
    incredibly persistent.

  p.
    So I did. 9 months after we had first met, I asked out Hannah. A week
    later, we started dating.
  .clear
  #firstDate.border
    img(src='/images/FirstDate.jpeg')

