extends ../layout 

append links
  link(rel='stylesheet', href='/stylesheets/encounter.css')

append content
  h1 Engagement 
  p.
    After over two and a half years of dating and David bravely asking my
    parents for permission to marry, we had finally made it to the last 
    hurdle: the meeting of the families.  On March 5th, the Chos met the 
    Whangs, and our only agenda was to be more familiar with one another.  
    By the end of the conversation, our moms were bursting with praise and
    thankfulness to each other for raising us similarly to love the Lord, 
    love our families and not love the world.  At the end of the night, David 
    finally addressed the elephant in the room: can I give Hannah the ring now? 
    “Yes.”

  p.
    I spent the rest of the week completely paranoid.  I came home from work 
    every night, confidently swinging the apartment door wide open… to a dark, 
    empty living room.  I even thought David was dropping hints when he mentioned 
    running shoes he had recently bought me, so I rushed home to dig into the 
    shoes for the ring.  It wasn’t there.  I was scheduled to take my GRE the 
    following Saturday and was having a hard time focusing from the suspense, 
    so David finally told me he would at least wait until after my test in a 
    late attempt to redeem himself for spontaneously asking me out just before 
    finals in college.
  
  p.
    March 12th was a very eventful day for me, including celebrating the
    birthday of bridesmaid Esther, who had flown in for the occasion. The 
    relief of having taken my test and the joy at being reunited with my college 
    roommates made our ocean-view dinner at La Mar truly enjoyable.  To top it 
    off, we had planned a birthday surprise for Esther with our college classmates 
    at Ghirardelli Square.  Winnie suggested we walk through a park near 
    Ghirardelli Square to “admire the view,” “take pictures” and stall Esther 
    from getting to our destination early.  When we got to the park, David was 
    outside with Justin and Sam, but I alone was internally freaking out that 
    they were ruining Esther’s birthday surprise. As David walked straight to 
    me, it clicked; it was FINALLY happening.

  p.
    Although David had not prepared a speech and I knew by then what was coming, 
    I was truly touched by his sincere words.  David is not as attentive to
    details from the past as I am, but he remembered my words from when we 
    started dating about how the Bible shows that love is an action, and that 
    in marriage, it’s a commitment to continuously practice that action of 
    sacrifice.  In hindsight,  the details are blurry, but my overwhelming reaction
    was relief and joy.  David was surprised I didn’t cry.

  p.
    Afterward, we went to join our friends for what I thought would be Esther’s 
    birthday surprise.  But instead of seeing a small handful of our friends, 
    there was a MASSIVE crowd of familiar faces! David had thoughtfully brought
    together friends from all over the Bay to celebrate with us.  Over ice cream 
    and a late night snack, I got to hear the scheming and sacrifice of so many 
    of our friends:  thank you Esther for giving up your birthday spotlight, 
    and thank you friends for making March 12th a memorable engagement!

  p.
    And if March wasn’t exciting enough, I went to Nicaragua one week later with
    our church for a missions / scouting trip.  And this coming March, we’re 
    getting married!

  .clear
  #engagePic.border
    img(src='/images/EngagementParty.jpeg')


