extends ../layout 

append links
  link(rel='stylesheet', href='/stylesheets/encounter.css')

append content
  h1 Fun Facts
  table
    tr
      th   
      th.name David  
      th.name Hannah
    tr
      th Birthdate 
      th April 4th, 1987 
      th September 14th, 1988
    tr 
      th Family Members  
      th Samuel, Candice, Peter    
      th Yong, Helen, Sarah, Wilbur
    tr
      th Current Job
      th Excel Monkey
      th Robot Ringleader
    tr 
      th Dream Job as a kid
      th  Rock Star  
      th Teacher
    tr 
      th Dream Job now  
      th Food Critic 
      th Soccer mom, complete with swagger wagon
    tr 
      th Favorite Dog
      th Beagle / Retriever / Husky (I can never decide)
      th Wilbur Whang
    tr
      th Pet Peeves  
      th Slow drivers, people who are late 
      th Uncapped contact solution, toothpaste squeezed from the middle
    tr 
      th Hobbies  
      th Eating, exercising, spending time with Hannah, looking at cute animals
      th Eating, reading, imitating David's mannerisms, making David laugh
    tr 
      th Foods I like…    
      th Korean Pork Belly, Uni, Toro, In-N-Out
      th Kimchi, Acme Baguette, Arugula
    tr 
      th Fruits I like…  
      th Peach, Mango, Raspberries (in that order, chilled please)
      th Watermelon, Strawberries, Blueberries
    tr
      th Drinks I like… 
      th Blue bottle coffee, fresh squeezed juice  
      th Water, tea, orange juice
    tr 
      th A Favorite D&H Memory 
      th Hannah surprised me for my 24th birthday and took me skydiving
      th.
        David got off work early and went to Town Hall (before it opened)
        to get a table for my birthday
    tr 
      th Currently trying to stop… 
      th Playing video games ;_;   
      th Sleeping late
    tr 
      th Want to do more… 
      th Adventurous eating     
      th Leisure reading, outside exercising activities
    tr 
      th Favorite Book 
      th The Bible, these days anything written by Michael Lewis
      th The Bible, Pride & Prejudice
    tr
      th Favorite Bible Verse  
      th 
        a(href='http://www.literalword.com/?q=psalm+73', target='_blank') Psalm 73
      th 
        a(href='http://www.literalword.com/?q=phillippians', target='_blank') Phillippians
    tr 
      th What we find attractive about each other… 
      th Hannah's teachable heart, generosity, and willingness to dress cute for me :)
      th David's passion for sharing the Gospel and his sense of humor
  .clear
  #feetPic
    img(src='/images/feet.png')
