extends layout 

append links
  link(rel='stylesheet', href='/stylesheets/index.css')

append content
  #verse
    p.
      “He who finds a wife finds a good thing and obtains favor from the 
      Lord” – Proverbs 18:22
  img#dnh_pic(src='/images/welcome.png')
  #welcome 
    p.
      Welcome to our wedding website! We are excited to embark on a new journey 
      together and hope to be more effective as a team than as singles in our 
      labor of love and ministry towards others.  Please browse around and 
      familiarize yourself with our story and other wedding details.  We are 
      very thankful for your impact in our lives and hope to see you on our big day.
    p#sig - David and Hannah
  #countdown 
    b
      span#days Too many 
      | days until Wedding!

append scripts
  script
    var today = new Date();
    var end = new Date("2012-03-31T15:30:00");
    var diff = end - today; // + 8 for pst
    var days = diff / 86400000;
    $('#days').text(Math.floor(days)+' ');

