!!!
html
  head 
    title= title
    block links
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/menu.css')

  body
    #main
      #header
        include menu
      #content
        block content
      #footer
        #footer_link
    block scripts
      script(src='/javascripts/vendor/jquery-1.7.1.min.js')
      script(src='/javascripts/menu.js')
      script
        $('#footer_link').click(function(e) {
          window.location.href = '/main';
        });


