!!!
html
  head 
    title= title
    block scripts
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/vendor/jquery-1.7.1.min.js')

      link(rel='stylesheet', href='/stylesheets/menu.css')
      script(src='/javascripts/menu.js')
      
  body
    include menu
    #background
      img(src="/images/background.jpg", alt="hello")
    block content
      p hello
    include footer

