!!!
html
  head 
    title= title
    block scripts
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/vendor/jquery-1.7.1.min.js')

      link(rel='stylesheet', href='/stylesheets/vendor/garagedoor.css')
      script(src='/javascripts/vendor/garagedoorjQuery.js')
      
  body
    include menu
    #background
      img(src="/images/background.jpg", alt="hello")
    block content
      p hello

