ul#nav
  li 
    #title Our Story
    ul
      li 
        a(href='/encounter') How we met
      li 
        a(href='/engagement') Engagement
      li 
        a(href='/fun_facts') Fun Facts
  li 
    #title Bridal Party
    ul
      li 
        a(href='/guys') Guys
      li 
        a(href='/gals') Gals
  li 
    #title Details
    ul
      li 
        a(href='/location') Wedding
      li 
        a(href='/accommodations') Accommodations
  li 
    a(href='/rsvp') RSVP
  li 
    a(href='/registry') Registry
  li 
    a(href='/photos') Photo Album
