ul#nav
  li 
    a(href='#') Our Story
    ul
      li 
        a(href='#') How we met
      li 
        a(href='#') Engagement
      li 
        a(href='#') Fun Facts
  li 
    a(href='#') Bridal Party
    ul
      li 
        a(href='#') Guys
      li 
        a(href='#') Gals
  li 
    a(href='#') Details
    ul
      li 
        a(href='#') Wedding
      li 
        a(href='#') Accommodations
  li 
    a(href='#') RSVP
  li 
    a(href='#') Registry
  li 
    a(href='#') Photo Album
