extends layout 

append links
  link(rel='stylesheet', href='/stylesheets/photos.css')

append content
  #galleria

append scripts
  script(src='/vendor/galleria/galleria-1.2.6.min.js')
  script
    Galleria.loadTheme('/vendor/galleria/themes/classic/galleria.classic.min.js');
    var data = [
      {
        image: '/images/album/_DSC0038.png',
        thumb: '/images/album/_DSC0038_t.png',
      },
      {
        image: '/images/album/_DSC0073.png',
        thumb: '/images/album/_DSC0073_t.png',
      },
      {
        image: '/images/album/_DSC0077.png',
        thumb: '/images/album/_DSC0077_t.png',
      },
      {
        image: '/images/album/_DSC0082.png',
        thumb: '/images/album/_DSC0082_t.png',
      },
      {
        image: '/images/album/_DSC0131.png',
        thumb: '/images/album/_DSC0131_t.png',
      },
      {
        image: '/images/album/_DSC0137.png',
        thumb: '/images/album/_DSC0137_t.png',
      },
      {
        image: '/images/album/_DSC0144.png',
        thumb: '/images/album/_DSC0144_t.png',
      },
      {
        image: '/images/album/_DSC0146.png',
        thumb: '/images/album/_DSC0146_t.png',
      },
      {
        image: '/images/album/_DSC0179.png',
        thumb: '/images/album/_DSC0179_t.png',
      },
      {
        image: '/images/album/_DSC0202.png',
        thumb: '/images/album/_DSC0202_t.png',
      },
      {
        image: '/images/album/_DSC0211.png',
        thumb: '/images/album/_DSC0211_t.png',
      },
      {
        image: '/images/album/_DSC0232.png',
        thumb: '/images/album/_DSC0232_t.png',
      },
      {
        image: '/images/album/_DSC0244.png',
        thumb: '/images/album/_DSC0244_t.png',
      },
      {
        image: '/images/album/_DSC0259.png',
        thumb: '/images/album/_DSC0259_t.png',
      },
      {
        image: '/images/album/_DSC0261.png',
        thumb: '/images/album/_DSC0261_t.png',
      },
      {
        image: '/images/album/_DSC9380.png',
        thumb: '/images/album/_DSC9380_t.png',
      },
      {
        image: '/images/album/_DSC9394.png',
        thumb: '/images/album/_DSC9394_t.png',
      },
      {
        image: '/images/album/_DSC9426.png',
        thumb: '/images/album/_DSC9426_t.png',
      },
      {
        image: '/images/album/_DSC9474.png',
        thumb: '/images/album/_DSC9474_t.png',
      },
      {
        image: '/images/album/_DSC9496.png',
        thumb: '/images/album/_DSC9496_t.png',
      },
      {
        image: '/images/album/_DSC9543.png',
        thumb: '/images/album/_DSC9543_t.png',
      },
      {
        image: '/images/album/_DSC9550.png',
        thumb: '/images/album/_DSC9550_t.png',
      },
      {
        image: '/images/album/_DSC9555.png',
        thumb: '/images/album/_DSC9555_t.png',
      },
      {
        image: '/images/album/_DSC9567.png',
        thumb: '/images/album/_DSC9567_t.png',
      },
      {
        image: '/images/album/_DSC9614.png',
        thumb: '/images/album/_DSC9614_t.png',
      },
      {
        image: '/images/album/_DSC9681.png',
        thumb: '/images/album/_DSC9681_t.png',
      },
      {
        image: '/images/album/_DSC9701.png',
        thumb: '/images/album/_DSC9701_t.png',
      },
      {
        image: '/images/album/_DSC9702.png',
        thumb: '/images/album/_DSC9702_t.png',
      },
      {
        image: '/images/album/_DSC9714.png',
        thumb: '/images/album/_DSC9714_t.png',
      },
      {
        image: '/images/album/_DSC9747.png',
        thumb: '/images/album/_DSC9747_t.png',
      },
      {
        image: '/images/album/_DSC9782.png',
        thumb: '/images/album/_DSC9782_t.png',
      },
      {
        image: '/images/album/_DSC9807.png',
        thumb: '/images/album/_DSC9807_t.png',
      },
      {
        image: '/images/album/_DSC9815.png',
        thumb: '/images/album/_DSC9815_t.png',
      },
      {
        image: '/images/album/_DSC9827.png',
        thumb: '/images/album/_DSC9827_t.png',
      },
      {
        image: '/images/album/_DSC9846.png',
        thumb: '/images/album/_DSC9846_t.png',
      },
      {
        image: '/images/album/_DSC9858.png',
        thumb: '/images/album/_DSC9858_t.png',
      },
      {
        image: '/images/album/_DSC9916.png',
        thumb: '/images/album/_DSC9916_t.png',
      },
      {
        image: '/images/album/_DSC9941.png',
        thumb: '/images/album/_DSC9941_t.png',
      },
      {
        image: '/images/album/_DSC9961.png',
        thumb: '/images/album/_DSC9961_t.png',
      },
      {
        image: '/images/album/_DSC9984.png',
        thumb: '/images/album/_DSC9984_t.png',
      },
      {
        image: '/images/album/_DSC9992.png',
        thumb: '/images/album/_DSC9992_t.png',
      }
    ];
    $('#galleria').galleria({
      width: 686,
      height:400,
      data_source: data
    });
