extends layout 

append links
  link(rel='stylesheet', href='/stylesheets/photos.css')

append content
  #galleria

append scripts
  script(src='/vendor/galleria/galleria-1.2.6.min.js')
  script
    Galleria.loadTheme('/vendor/galleria/themes/classic/galleria.classic.min.js');
    var data = [
      {
        image: '/images/img1.jpg',
        thumb: '/images/thumb1.jpg',
        title: 'my first image',
        description: 'Lorem ipsum caption'
      },
      {
        image: '/images/img1.jpg',
        thumb: '/images/thumb1.jpg',
        title: 'my second image',
        description: 'Another caption'
      }
    ];
    $('#galleria').galleria({
      width: 686,
      height:400,
      data_source: data
    });
