extends layout 

append links
  link(rel='stylesheet', href='/stylesheets/rsvp.css')

append content
  if (result == 'error') 
    .msg_box.
      There was an internal error.
      Please contact david.marrying.hannah@gmail.com and
      describe your situation. 
  if (result == 'success')
    .msg_box Success! Cya at the wedding.
  if (result == 'hacker')
    .msg_box Nice try, hacker!


