!!!
html(xmlns="http://www.w3.org/1999/xhtml")
  head 
    title= title
    block link
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/splash.css')
      
  body
    #main
      #center
        #leftPic.floatLeft
          img(src='/images/splash.png', alt='')
        #topRightPic.floatRight
          img#wine(src='/images/splash2.png', alt='')
        #bottomRight
          #enter.floatLeft
            a.link(href='/main') Enter
          #bottomRightPic.floatRight
            img#bw(src='/images/splash3.png', alt='')
          #bottomMidPic



        
