!!!
html
  head 
    title= title
    block link
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/splash.css')
      
  body
    #main
      #picture
        img#snp(src='/images/shakers.jpg')
      #enter
        a.link(href='/main') Enter
        
