#content {
  text-align: center;
}

#dnh_pic {
  width: 340px;
  margin-bottom: 0px;
}

#countdown {
  font-size: .9em;
  text-align: center;
} 
#welcome {
  margin-bottom: 10px;
  margin: 10px 150px;
  width: 400px;
  text-align: left;
  height: 123px;
  font-size: .9em;
}

p {
  margin: 5px 0px;
}

#thanks {
  text-align:left;
  padding-top: 30px;
  margin: 0px 43px 43px;
  width: 600px;
  height: 200px;
}

#thanks p {
  margin: 0px 0px 20px;
}

#dnh_pic2 {
 width: 150px;
 float: right;

}


#sig {
  margin-top: 0px;
  text-align: right;
}

#verse {
  width: 250px;
  text-align: right;
  text-wrap: normal;
  font-size: .7em;
  position:absolute;
  top: 325px;
  left: 520px;
  z-index: 5;
  
}