#content {
  text-align: center;
}

#dnh_pic {
  width: 340px;
  margin-bottom: 0px;
}

#countdown {
  font-size: 1em;
  text-align: center;
} 
#welcome {
  margin-bottom: 50px;
  margin: 10px 175px;
  width: 345px;
  text-align: left;
  height: 133px;
  font-size: .9em;
}

#days {
  font-size: 1.1em;
}

p {
  margin: 5px 0px;
}

#thanks {
  text-align:left;
  padding-top: 30px;
  margin: 0px 43px 43px;
  width: 600px;
  height: 200px;
}

#thanks p {
  margin: 0px 0px 20px;
}

#dnh_pic2 {
 width: 150px;
 float: right;

}


#sig {
  margin-top: 0px;
  text-align: right;
}

#verse {
  width: 250px;
  height: 0px;
  text-align: right;
  text-wrap: normal;
  font-size: .7em;
  position:relative;
  top: 193px;
  left: 250px;
  z-index: 5;
  
}
