#nav, #nav ul {
  font-family: "Lucida Galligraphy","Brush Script MT", Lucida; 
  font-size: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  line-height: 1.5em;
  z-index: 10;
}

#nav #title, 
#nav a:link, 
#nav a:active, 
#nav a:visited {
  display: block;
  padding: 0px 10px;
//  border: 1px solid #333;
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
#nav a:link,
#nav a:active,
#nav a:visited {
  background-color: rgba(254,247,241,0.95);
}

#nav a:hover {
  background-color: rgba(254,247,241,0.95);
  color: #333;
}

#nav li{
  float: left;
  position: relative;
}

#nav ul {
  position: absolute;
  width: 6em;
  top: 1.5em;
  display: none;
}

#nav li ul a {
  width: 6em;
  float: left;
}


#nav ul ul {
  top: auto;
}

#nav li ul ul {
  left: 12em;
  margin: 0px 0 0 10px;
}

#nav li:hover ul ul, 
#nav li:hover ul ul ul, 
#nav li:hover ul ul ul ul {
  display: none;
}
#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul, 
#nav li li li li:hover ul {
  display: block;
}