.login form {
  padding: 140px 191px;
}

#matched_parties {
  width: 650px;
  height: 310px;
  padding: 0px 16px 0px;
}

.login fieldset {
  width: 276px; // 298
}

legend {
  font-family: "Lucida Calligraphy","Brush Script MT", Lucida;
  font-size: 1.3em;
}

.example {
  padding-left: 53px;
  float:left;
  font-size: .8em;
  color: grey;
}

#hints {
  position:relative;
  top: -27px;
  left: 69px;
}

.guess {
  position: absolute;
  background-color: white;
  width: 200px;
  top: 0px;
  padding: 2px 0px 2px 8px;
  border-style:dotted;
  border-width: 1px;
  z-index: 5;
}

.guess.selected {
  background-color: #cecece;
}

#hidden {
  display:none;
}

#error_box {
  float:right;
  font-size: .8em;
  color: red;
}

.party {
  padding-bottom: 15px;
  font-size: .9em;
}

.desc {
  font-size: .7em;
}

.rsvp_count {
  padding-bottom:15px;
}
.submit_button {
  clear: both;
  position: relative;
  left: 500px;
  width: 61px;
}
.notes {
  resize: none;
}

.notes_hdr span{
  font-size: .8em;
}

.msg_box {
  background-color: #cecece;
  padding:  40px;
  width: 340px;
  position: relative;
  top: 100px;
  margin: 0 113px;
  border: solid 10px;
  border-radius: 5px;
  border-color: #cecece;
}

