body {
	font-size: 16px;
	font-family: garamond,georgia,verdana,sans-serif;
	background-color: #FEF0DB;
	background-image: url('/images/background_wo_knife.jpg');
  background-position: 50% 0%;
  background-size: 1000px;
  background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}

#main {
  height: 560px; 
	width: 760px;
	margin: 65px auto 0px;
	padding: 20px;
}

#header {
  padding-left: 85px;
  padding-right: 86px;
  width: 589px;
  height:39px;
}

#content {
  height: 390px;
  margin: 15px 37px 20px;
}  

#footer {
  margin-top: 52px;
}

#footer_link {
  background: transparent;
  margin: 0px 278px;
  height: 35px;
  padding: 0px 45px 0px 47px;
}

a#footer_link:hover {
  color: #221A69;
}

h1 {
	color:#221A69;
	font-weight:normal;
	text-decoration:none;
}

.overlay {
  display: block;
  position: absolute;
  background-color: rgba(200, 100, 100, 0.5);
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.relative {
  position: relative;
}

.scrollbar {
  overflow: auto;
}

.leftColumn {
  width: 360px;
}

.nudgeLeft {
  margin-right: 15px;
}

.nudgeRight {
  margin-left: 15px;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.link {
  font-family: "Lucida Calligraphy","Brush Script MT", Lucida;
  font-size: 30px;
  color: #8f85e9;
  text-decoration: none;
}

/* images */