extends ../layout 

append links
  link(rel='stylesheet', href='/stylesheets/location.css')

append content
  .floatLeft.nudgeRight
    h1 Accommodations
    #accommodations.scrollbar
      .accom
        .name Rest
        .addr1
        .addr2
        .cost ~$
          span &#x221E;
        .dist_BUR From BUR: 
          span &#x221E;
          |  mi.
        .dist_LAX From LAX: 
          span &#x221E;
          |  mi.
        .dist_recp From Reception: 
          span &#x221E;
          |  mi.
        .notes Notes: 
          span n/a
        a.link
        .border
  .map.floatRight.nudgeLeft
    a.link(href='http://maps.google.com/maps?q=134+N+Kenwood+St,+Glendale,+CA+91205', target='_blank', title='CLick me')
      img#gmap(src='http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=300x340&maptype=roadmap&markers=color:blue%7Csize:small%7Clabel:C%7C134+N+Kenwood+St,Glendale,CA&sensor=false', alt='')

append scripts
  script(type="text/javascript")
    var glink_def = 'http://maps.google.com/maps?q=134+N+Kenwood+St,+Glendale,+CA+91205';
    var gmap_def = 'http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=300x340&maptype=roadmap&markers=color:blue%7Csize:small%7Clabel:C%7C134+N+Kenwood+St,Glendale,CA&sensor=false';
    var glink_head ='http://maps.google.com/maps?daddr=134+N+Kenwood+St,Glendale,CA&saddr=';
    var gmap_head = 'http://maps.googleapis.com/maps/api/staticmap?&size=300x340&maptype=roadmap';
    var church_marker = '&markers=color:blue%7Csize:small%7Clabel:S%7C134+N+Kenwood+St,Glendale,CA&sensor=false';
    var accommodations = [
      {
        name: "Vagabond Inn Glendale",
        addr1: "120 W Colorado St.",
        addr2: "Glendale, CA 91204",
        phone: "818-240-1700",
        cost: "65-$100",
        dist_BUR: "8.3",
        dist_LAX: "9.5",
        dist_recp: "0.4",
        notes: "For guests that will be flying in, Burbank airport is preferable as you can avoid traffic on Highway 5",
        link: "http://www.hotels.com/hotel/details.html?pa=2&pn=1&ps=2&tab=description&hotelId=111793&arrivalDate=03-30-12&departureDate=04-01-12&rooms%5B0%5D.numberOfAdults=2&roomno=1&validate=false&previousDateful=false&reviewOrder=date_newest_first"
      },
      {
        name: "Hilton Glendale",
        addr1: "100 W Glenoaks Blvd",
        addr2: "Glendale, CA 91204",
        phone: "818-956-5466",
        cost: "100-$165",
        dist_BUR: "7.7",
        dist_LAX: "10.7",
        dist_recp: "1.1",
        notes: "Complimentary shuttle service to Burbank airport from 6AM – 10PM",
        link: "http://www.hiltonlosangelesglendale.com"
      }
    ];

    // load up the accommodations
    var parent = $('#accommodations');
    var template = $('#accommodations .accom');
    $.each(accommodations, function(i, elem) {
        var item = template.clone().appendTo('#accommodations');
        item.children('.name').html(elem.name);
        item.children('.addr1').html(elem.addr1);
        item.children('.addr2').html(elem.addr2);
        item.children('.cost').children('span').html(elem.cost);
        item.children('.dist_BUR').children('span').html(elem.dist_BUR);
        item.children('.dist_LAX').children('span').html(elem.dist_LAX);
        item.children('.dist_recp').children('span').html(elem.dist_recp);
        item.children('.notes').children('span').html(elem.notes);
        if (elem.link) {
          item.children('.link').attr('href', elem.link);
          item.children('.link').attr('target', '_blank');
          item.children('.link').html('Click to book.')          
        }
        item.css('display','block');
    });

    $('#accommodations .accom').last().children('.border').css('display','none');
  
    $('.accom').hover(function() {
        // switch between the id and change the map accordingly.. update the link 
        var addr = $(this).children('.addr1').html().replace(' ', '+');
        addr += $(this).children('.addr2').html().replace(' ', '+');
        if (addr !== '') {
          $('.map a').attr('href', glink_head+addr);
          $('#gmap').attr('src', gmap_head+'&markers=color:green%7Csize:small%7Clabel:A%7C'+addr+church_marker);
        } else {
          $('.map a').attr('href', glink_def);
          $('#gmap').attr('src', gmap_def);
        }
      },
      function() {
      });



