extends ../layout 

append links
  link(rel='stylesheet', href='/stylesheets/encounter.css')

append content
  h1 Gals
  .desc.floatLeft.
     Maid of Honor, Sarah, is Hannah’s one and only sister. Sharing an
     affinity for their dog, Wilbur, and all things Disney, Sarah endured 
     Hannah’s stubborn, impatient ways their entire childhood and is now 
     Hannah’s role model for her programming prowess. Over the summer, 
     Sarah was a superstar intern at Hannah’s company; they had a blast 
     living together. Their favorite pastimes include food, Mario Party 
     on Wii, Disneyland, walks with Wilbur, and TV show marathons.
  .img.floatRight 
    img(src='/images/party/Sarah.jpg', alt='')
  .br.clear
  .desc.floatLeft.
    Bridesmaid Winnie lived with Hannah for three years in college and is
    her current roommate. Winnie has a sweet serving heart and loves
    everything cute and fobby. Hannah has been so encouraged to witness
    Winnie grow in her love for the Lord and for the church in the last few
    years and is excited for the day Winnie will meet the preppy, unassuming
    nerdy Christian man of her dreams who will finally get Winnie
    to eat beef.
  .img.floatRight
    img(src='/images/party/Winnie.jpg', alt='')
  .br.clear
  .desc.floatLeft.
     Bridesmaid Esther is Hannah’s GGLAS (God-Given Life Accountability
     Sister), a term from freshman year as roommates in the dorms because
     their extreme personality differences were secondary to God bringing them
     together as friends and sisters in Christ. Esther has taught Hannah
     invaluable lessons on how to listen to and love others, and Hannah is
     forever thankful for the day they got to the high school retreat bus late
     and sat together sharing Esther’s iPod.
  .img.floatRight
    img(src='/images/party/Esther.jpg', alt='')
  .br.clear
  .desc.floatLeft.
    Bridesmaid Christine was Hannah’s roommate for the last two years of
    college and is always down for food and fun. Christine is one of the most
    comfortable people Hannah has been blessed to spend time with, and they
    share many fond memories of culinary challenges cooking for Praise Team,
    farmer’s markets, face masks and lots of ridiculous giggling. Wherever
    Christine lives is and will be Hannah’s second home.
  .img.floatRight
    img(src='/images/party/Christine.jpg', alt='')


