extends ../layout 

append links
  link(rel='stylesheet', href='/stylesheets/encounter.css')

append content
  h1 Guys
  .img.floatLeft
    img(src='/images/party/Justin.jpg', alt='')
  .desc.floatRight.
    Best Man Justin. Despite having been friends for just a few years,
    David describes his relationship with Justin as the most fruitful,
    God-pleasing one he has. Along with being college roommates, Justin was
    the constant force that encouraged David to grow and mature as well as 
    date Hannah! Justin loves eating just as much as David and will never 
    shy away from a good meal, whether super spicy (spicier than David 
    eats) or super exotic.
  .br.clear
  .img.floatLeft
     img(src='/images/party/PeterChang.jpg', alt='')
  .desc.floatRight.
    Groomsman Peter is David’s longest friend. Despite David’s many stages
    of life, Peter has always been faithful to David and put up with his
    eccentricities. Peter hasn’t changed much since David has known him 
    and still loves the typical Asian stuff like video games, manga, and 
    cars. Deep down inside, Peter and David still share a deep love for 
    the Ninja Turtles; they used to have toys, video games, posters, bed 
    sheets, underwear, birthday hats, halloween costumes, school supplies.
  .br.clear
  .img.floatLeft
    img(src='/images/party/PeterCho.jpg', alt='')
  .desc.floatRight.
    Groomsman Peter is David’s brother. Peter has always been the highly
    fashionable and cool one of the family, even crowned Homecoming King 
    in high school. Peter and David both think their Mom’s cooking is 
    the best in the world and still reminisce (and drool) about all the 
    good food she would cook. David has yet to beat Peter’s record in any
    FPS game (CoD, BF, CS).
  .br.clear
  .img.floatLeft
    img(src='/images/party/Sam.png', alt='')
  .desc.floatRight.
    Groomsman Sam has always been “cool and comfortable” which helps David
    temper his crazy side. Sam really enjoys the outdoors and is a big REI
    fan. Sam is also David’s current roommate and can always be counted on to
    have a great music playlist (there’s always something you haven’t 
    heard of) or crazy investing tips (he believes in precious metals and 
    is double short the financial sector). David has yet to make money 
    from Sam’s tips...


